<section class="container d-flex justify-content-center align-items-center vh-100">
  <div class="mt--5 height-fit">
    <div class="form-container">
      <h1 class="text-center">Reset Password</h1>

      <form [formGroup]="resetForm">
        <div>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" [formControlName]="'email'" #emailRef required />
            <mat-error *ngIf="email.invalid">{{getErrorEmailMessage}}</mat-error>
            <mat-hint>Email to request a password reset</mat-hint>
          </mat-form-field>
        </div>

        <button class="d-block mx-auto my-3" mat-raised-button color="primary" (click)="reset()">Reset</button>
      </form>

      <div class="text-center mt-5">
        <a mat-button [routerLink]="['/sign-in']">Back to Log In</a>
      </div>
    </div>
  </div>
</section>
