<header class="header">
    <mat-toolbar class="header__toolbar justify-content-space-between">
        <h1>My app</h1>
        <nav class="main-nav">
            <ul class="d-flex w-100 justify-content-between nav-list m-0 p-0">
                <li class="nav-item">
                    <a mat-button [routerLink]="['/dashboard', userUid]">Dashboard</a>
                </li>
                <li class="nav-item">
                    <button mat-raised-button color="primary" (click)="signOut()">SIGN OUT</button>
                </li>
            </ul>
        </nav>
    </mat-toolbar>
</header>

<main class="p-4">
    <router-outlet></router-outlet>
</main>