<div class="task px-4 py-3 d-block preview__item mb-4" tabindex="0">
    <div class="d-flex justify-content-between align-items-center">
        <h5 class="task-preview__label preview__label m-0 text-center">{{label}}</h5>
        <div>
            <span class="task-preview__created preview__created">Created: {{created}}</span>
            <button #removeRef mat-icon-button class="remove_btn btn" (click)="onRemove()">
                <mat-icon aria-hidden="true" fontIcon="delete_outline"></mat-icon>
            </button>
        </div>
    </div>
</div>