.mt--3{
    margin-top: -1rem;
}

.mt--5{
    margin-top: -3rem;
}

.height-fit {
    height: fit-content;
    max-height: fit-content;
}

.mat-button-base.mat-primary{
    transition: linear 0.2s !important;

    &:hover, &:focus {
        background-color: #502c8e;
    }
}