.nav-list,
.todo-lists-previews {
    list-style: none;
}

.add-btn__title {
    margin-left: 8px;
}

.todo-lists-previews {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.list-preview {
    min-width: 300px;
}